<h1>Héroes <small>Marvel y DC</small></h1>
<hr>
<div class="row row-cols-1 row-cols-md-3 g-4">
  <!--  -->
  <!--ngFor para ponerlo por cada héroe que pertenece al arreglo-->
    <app-heroe-tarjeta (heroeSeleccionado)="verHeroe($event)" [heroe]="heroe" [idx]="i" *ngFor="let heroe of heroes; let i=index">
    </app-heroe-tarjeta>
  <!--esto le asigna a las propiedades heroe e idx de heroe tarjeta
  cada uno de los heroes y su índice para que luego heroe tajeta con
  su @Input lo herede de este componente que sería el padre-->
</div>